body {
    background-color: lightblue;
  }
.card {
    background-color: bisque;
} 




@media(min-width:768px){
    .news-input {
        width: 50%;
    }
}

.dropdown-item{
    
    background: rgb(231, 231, 238);

}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color:rgb(236, 236, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
  
}
.card{
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 0.5rem 0.5rem rgba(204, 211, 219, 0.508);
    background:linear-gradient(to right,#95bfe9,#0a6cc8) ;
}

.card-text   {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
} 



hr {
    display: block;
    margin-top: 2em;
    margin-bottom:2em;
    margin-left: 0;
    margin-right: 2em;
    border-style: solid;
    border-width: 1px;
  }

  p{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: larger;
  } 
  
  h3 {
 
   text-align: center;
    margin-bottom: 2rem;
  }
  h5 {
   
    padding: 2rem;
    text-align: center;
  }
  .btn-outline-success {
    --bs-btn-color: #21262b;
--bs-btn-border-color: #c5d2dd;
}

.navbar {
  background:linear-gradient(to right,#3690e9,#d9dfe5) ;
  box-shadow: 0.5rem 0.5rem rgba(44, 100, 163, 0.508);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  }

  header {
    
    font-size: 60px;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem

  } 




/*============= SOCIAL MEDIA STICKY BAR =============*/

.jumbotron {
  background: linear-gradient(to right, #f2f2f2, #33405892);
  padding: 1rem 0 .5rem;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  font-size: 2rem;
}
ul.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  
}
ul.social li {
  margin: 0 auto;
  
}

